
@{
    ViewData["Title"] = "Estudiantes";
}
@model List<Estudiantes>

<h1>Estudiantes</h1>
<pre>        


</pre>

<div class="row text-center">
    <table class=" table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Cuatrimestre</th>
                <th>Promedio</th>
                <th>Carrera</th>
                <th>Accion</th>
                <th><a href="~/Estudiantes/jComCarrera" class="btn btn-success btn-sm">Nuevo</a></th>
            </tr>
        </thead>
        <tbody id="tbody-estudiantes">
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Nombre</td>
                    <td>@i.apellidoPaterno</td>
                    <td>@i.apellidoMaterno</td>
                    <td>@i.cuatrimestre</td>
                    <td>@i.promedio</td>
                    <td>@i.nombreCarrera</td>
                    <td>
                        @*<a href="~/Carrera/CarreraEliminar?clave=@i.claveCarrera" class="btn btn-danger btn-lg" i">Eliminar</a>*@
                        <button class="btn btn-danger " data-estudiante="@i.IDEstudiante" id="boton-eliminarEs">Eliminar</button>
                        <a href="~/Estudiantes/IndexActualizarEstudiante?claveEstudiante=@i.IDEstudiante" class="btn btn-outline-secondary">Actualizar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

